<div>
    <h1>{{company.name}} ({{company.ticker}})</h1>
    <img src="{{company.logo}}" alt="{{company.name}}">

    <p>Price: {{company.price}}</p>
    <p>Country: {{company.country}}</p>
    <p>Currency: {{company.currency}}</p>
    <p>Exchange: {{company.exchange}}</p>
    <p>IPO Date: {{company.ipo}}</p>
    <p>Market Capitalization: {{company.marketCapitalization}}</p>
    <p>Number of Outstanding Shares: {{company.shareOutstanding}}</p>
    <p>Industry: {{company.finnhubIndustry}}</p>
    <p>Phone: {{company.phone}}</p>
    <p>Website: {{company.weburl}}</p>
</div>