<div>
    <h1>Your Stocks Dashboard</h1>
  <form action="/users/dashboard" method="POST">
    <label>
      Search for a ticker: 
      <input type="text" name="searchTicker" placeholder="AAPL" class="full-width-input"/>
      <button type="submit">Submit</button>
    </label>
    {{!-- <div>
        {{#each userStocks}}
        <div>
            
        </div>
        {{/each}}
    </div> --}}
    <br>
    <br>
    <br>
    <br>
    <br>
    {{#if sugRequest}}
      <button type="submit" name="addedButton" onclick="location.href='/users/dashboard';">Hide Suggestions</button>
       <hr>
      <h2>Suggestions:</h2>
    {{else}}
    <div>
      <form method="POST" id="sugButton">
        <input id="showSug" name="showSug" type="hidden" value="showSug">
      <button type="submit" name="sugShowButton">Show Suggestions</button>
    </div>
    {{/if}}
        <div class="listLayout">
            {{#each allCompanies}}
            <div class="companyBox">
                <a href="../companies/{{this.ticker}}">
                    {{this.name}} ({{this.ticker}})
                </a>
                {{#if this.increased}}
                <p>Price: {{this.price}} <span class="greenStock">+{{this.change}} ({{this.percentIncrease}}%)</span></p>
                {{else}}
                <p>Price: {{this.price}} <span class="redStock">{{this.change}} ({{this.percentIncrease}}%)</span></p>
                {{/if}}
                <p>Average Rating: 
                    {{#if this.averageRating}} {{#each this.ratingsArr}} <span class="fa fa-star checked"></span> {{/each}}</p>
                    {{else}} No Ratings Found </p>
                    {{/if}}
            </div>

            <div>
                <button type="submit">Add</button>
            </div>
            {{/each}}
        </div>
</div>