<div>
    <h1>{{title}}</h1>
    <br>
    {{#if alreadyFollowed}}
    <form method="POST">
        <button type="submit" class="unfollow-button" name="unfollowButton" value="1">Unfollow User</button>
    </form>
    {{else}}
    <form method="POST">
        <button type="submit" class="follow-button" name="followButton" value="2">Follow User</button>
    </form>
    {{/if}}
    {{!-- <div>
        {{#each userStocks}}
        <div>
            
        </div>
        {{/each}}
    </div> --}}
    <br>
    <br>
    <br>
    <div class="listLayout">
        {{#each traderCompanies}}
        <div class="companyBox">
            <a href="../companies/{{this.ticker}}">
                {{this.name}} ({{this.ticker}})
            </a>
            <form method="POST">
                <button type="submit" class="add-button" name="addButton" value="{{this.ticker}}">Add</button>
            </form>
            {{#if this.increased}}
            <p>Price: {{this.price}} <span class="greenStock">+{{this.change}} ({{this.percentIncrease}}%)</span></p>
            {{else}}
            <p>Price: {{this.price}} <span class="redStock">{{this.change}} ({{this.percentIncrease}}%)</span></p>
            {{/if}}
            <p>Average Rating:
                {{#if this.averageRating}} {{#each this.ratingsArr}} <span class="fa fa-star checked"></span> {{/each}}
            </p>
            {{else}} No Ratings Found </p>
            {{/if}}
        </div>
        {{/each}}
    </div>
    <br>
    <br>
</div>