<div>
    <h1>{{title}}</h1>
    <br>
    <hr>
    <br>
    <label>
      Search for Company News:
      <form method="POST" id="tickerInput">
        <label for="tickerInput" id="tickerInputLabel">Enter Company: </label>
        <input type="text" id="tickerInput" name="tickerInput" minlength="2" placeholder="Tesla" class="full-width-input"><br><br>
        <button type="submit">Submit</button>
        </form>
    <br>
    
    <div class="top-news-div">
        {{#each topNews}}
            <div class="news-div">
                <img src="{{this.urlToImage}}" alt="{{this.source.name}}" class="news-img"><br>
                <a href="{{this.url}}" target="_blank" class="news-title">{{this.title}}</a>
                <p class="news-desc">{{this.description}}</p>
                <p class="news-date">Date Published: {{this.publishedAt}}</p>
            </div>
        {{/each}}
    </div>

</div>